@font-face {
    font-family: 'Textile';
    src: url('Textile.woff2') format('woff2'),
        url('Textile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

